.nodeInputs {
  display: block;
  margin-bottom: 10px;
}

.form {
  width: 250px;
  height: 400px;
  position: absolute;
  top: 50px;
  right: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.list {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}
